.main-container{
    height: 70px;
    background-color: #fff;
    margin:8px;
    display: flex;
    padding: 10px;
    gap:12px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px  #64748b;
}
.new-post{
    padding: 10px 10px;
    border: none;
    border-radius:12px;
    color: #71717a;
    width: 70%;
}