@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Mono:wght@200&family=Roboto:wght@400;700&family=Source+Sans+Pro&display=swap');
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
*::selection{
  background-color: #075985;
  color: white;
}
html,body{
  position: relative;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: underline;
}
button{
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.icon{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.icon img{
  height: 25px;
    width: 25px;
}
