.container{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background: #f7f7f7;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -200px;
        margin-top: -250px;
        z-index: 10;
    }
.container :active{
    background-color: black;
}