
.container{
    margin: 0 auto;
    color: white;
    min-height: 70vh;
    padding: 20px;
    display: grid;
    align-items: center;
    font-family: 'Source Sans Pro','Roboto', Arial, Helvetica, sans-serif;

}


.author{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.container div{
    padding: 5px;
}
.container div::selection{
    background-color: #e0f2fe;
    color: black;
}
.post-img{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.post-img img{
    height: 100%;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
}
.details{
    display: flex;
    font-weight: 800;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.details :global(.icon){
    color: white;
}
.details :global(.icon):first-child img{
    display: flex;
    position: relative;
    bottom: 5px;
}

.details :global(.icon) img{
    margin: 5px;
}