.container{
    position: relative;
    padding: 10px;
    max-height: fit-content;
    width: 100%;
    background-color:#fff;
    max-width: 500px;
    font-weight: lighter;
    box-shadow: 0px 0px 5px 2px #64748b;
    border-radius: 8px;
}
.author{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 1.3rem;
}
.author :global(.icon){
    height: 55px;
    width: 55px;
}
.author :global(.icon) img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.content{
    display: inline-block;
    text-align: start;
    color: #334155;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', 'Roboto',Arial, Helvetica, sans-serif;
    border-top: 1px solid black;
    overflow: hidden;
    max-height: 120px;
    width: 100%;

}
.container div{
    padding: 5px;
}
.post-img img{
    object-fit:contain;
    max-height: 500px;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 8px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details img{
    position: relative;
    top:-5px;
}
.details button{
    display: flex;
    gap:5px;
    position: relative;
    top:2px;
    align-items: center;
    background: transparent;
}
.likes-users{
    position: fixed;
    overflow: scroll;
    width: 200px;
    top:60%;
    left:50%;
    margin-top: -200px;
    margin-left:-100px;
    background-color: #334155;
    color:white;
    z-index: 2;
    padding: 16px;
}
.likes-users h2{
    text-align: center;
}
.likes-users ul{
    padding:20px;
}
.likes-users ul{
    text-decoration: none;
    list-style: none;
}
.likes-users li{
    margin-bottom: 15px;
}
.likes-users>button{
    position: absolute;
    right: 10px;
    top: 10px;
}